@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8f8f8;
  --text: #000;
}

[data-theme='dark'] {
  --bg: #080808;
  --text: #fff;
}

[data-theme='gray'] {
  --bg: #FF6FFF;   
  --text: #32CD32; 
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.2s, color 0.3s;
  font-family: 'Chakra Petch', monospace;
}
