@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8f8f8;
  --text: #000;
}

[data-theme='dark'] {
  --bg: #080808;
  --text: #fff;
}

/* [data-theme='gray'] {
  --bg: #363636;   
  --text: #bd9cb8; 
} */

/* [data-theme='gray'] {
  --bg: #2B2D42;   
  --text: #F8F9FA; 
} */

/* Peach Theme */
/* [data-theme='gray'] {
  --bg: #4B5563; 
  --text: #FDE8DF;
} */

/* [data-theme='gray'] {
  --bg: #FDE8DF; 
  --text: #4B5563; 
} */

/* Lavender Theme */
[data-theme='gray'] {
  --bg: #574F59; 
  --text: #f8e9da;
}

/* blue */
/* [data-theme='gray'] {
  --bg: #2C3E50; 
  --text: #F5E6FF; 
}  */


body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.2s, color 0.3s;
  font-family: 'Chakra Petch', monospace;
}

